.header {
  background-color: #1f1f1f;

  .navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;

    .navItem {
      margin-left: 15px;
      font-size: 20px;
      color: white;
      text-decoration: none;
      transition: color 0.3s ease;
    
      &:hover {
        color: #aaaaaa;
      }
    }
  }

  .div_header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    max-width: calc(100% - 30px);
    margin: 0 auto;

    .div_logo {
      >img {
        width: 120px;
      }
    }
  }
}
